spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/cakeitdb?serverTimezone=UT&characterEncoding=UTF-8
    username: proj
    password: 1q2w3e4r!
  jpa:
    hibernate:
      ddl-auto: update
    generate-ddl: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql:
              trace
    com:
      amazonaws:
        util:
          EC2MetadataUtils: error